html{
	font-family: 'Roboto', sans-serif;
}
a,a:hover,a:visited,a:linked{
	text-decoration: none;
	display: block;
}
header{
	text-align: center;
}
h2{
	word-wrap: break-word;
}
header input{
	font-size:20px;
}
#query{
	border: none;
  outline: none;
  border-bottom: 2px solid grey;
  width: 100%;
  padding:5px;
  max-width: 600px;
  color:grey;
}
#query:focus{
	border-bottom: 2px red solid;
	color:red;
}
#search{
	background: transparent;
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 2px grey solid;
  color: grey;
}
#search:hover{
	border-bottom: 2px red solid;
	color:red;
}
.card{
	float:left;
	width: 100%;
  max-width: 320px;
  margin:0 15px;
  box-shadow: 0 0 10px;
  border-bottom: red solid 5px;
  border-radius: 3px;
}
.thumbnail{
	display: block;
}
#content{
	padding:50px 0;
	display: flex;
	overflow-x: scroll;
	width: 1400px;
	margin:0 auto;
	opacity: 0;
	transition: all ease 1s;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.card-bottom{
	padding: 0 10px;
}
.author{
	color: grey;
}
.description{
	font-size: 14px;
}
@media all and (max-width: 1400px){
	#content{
		width: 1050px;
	}
}
@media all and (max-width: 1050px){
	#content{
		width: 700px;
	}
}
@media all and (max-width: 700px){
	#content{
		width: 350px;
	}
}